$default-color: #999999;
$success-color: #4dba7a;
$primary-color: #0079ac;
$info-color: #009bdd;
$warning-color: #fdc14a;
$danger-color: #f1634b;

@import "elements/navbar";

@import "elements/btn";

@import "elements/panel";

@import "elements/input";

@import "elements/alert";

@import "elements/list-group-item";