<div class="panel panel-default">
  <div class="panel-heading" ng-bind="$ctrl.contact.name"></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-5 col-xs-12">
        <p>
          <i class="fa fa-phone"></i>
          <span ng-bind="$ctrl.contact.phone || 'Sem telefone'"></span>
        </p>
      </div>
      <div class="col-sm-7 col-xs-12">
        <p>
          <i class="fa fa-envelope-o"></i>
          <span ng-bind="$ctrl.contact.email || 'Sem email'"></span>
        </p>
      </div>
      <div class="col-sm-5 col-xs-12">
        <p>
          <i class="fa fa-tag"></i>
          <span ng-bind="$ctrl.contact.tag.label || 'Sem etiqueta'"></span>
        </p>
      </div>
      <div class="col-sm-7 col-xs-12">
        <p>
          <i class="fa fa-laptop"></i>
          <span ng-bind="$ctrl.contact.job || 'Sem profissão'"></span>
        </p>
      </div>
      <div class="col-xs-12">
        <p>
          <i class="fa fa-home"></i>
          <span ng-bind="$ctrl.contact.location || 'Sem endereço'"></span>
        </p>
      </div>
    </div>
  </div>
  <div class="">
      <div class="btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <a ng-if="$ctrl.contact.social.facebook" href="{{$ctrl.contact.social.facebook}}" target="_blank" class="btn btn-primary">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a ng-if="$ctrl.contact.social.google" href="{{$ctrl.contact.social.google}}" target="_blank" class="btn btn-danger">
          <i class="fa fa-google-plus"></i>
        </a>
        <a ng-if="$ctrl.contact.social.github" href="{{$ctrl.contact.social.github}}" target="_blank" class="btn btn-default">
          <i class="fa fa-github"></i>
        </a>
        <a ng-if="$ctrl.contact.social.twitter" href="{{$ctrl.contact.social.twitter}}" target="_blank" class="btn btn-info">
          <i class="fa fa-twitter"></i>
        </a>
        <a ng-if="$ctrl.contact.social.linkedin" href="{{$ctrl.contact.social.linkedin}}" target="_blank" class="btn btn-primary">
          <i class="fa fa-linkedin"></i>
        </a>
        <a ng-click="$ctrl.selectContact()" class="btn btn-success">
          <i class="fa fa-pencil"></i>
        </a>
      </div>
  </div>
</div>

