.form-control,
.has-success .form-control,
.has-warning .form-control,
.has-error .form-control {
  border-width: 2px;
  box-shadow: none;
  &:active, &:focus {
    box-shadow: none;
  }
}

.has-success .form-control {
  border-color: $success-color;
  &:focus {
    border-color: $success-color;
  }
}
.has-warning .form-control {
  border-color: $warning-color;
  &:focus {
    border-color: $warning-color;
  }
}
.has-error .form-control {
  border-color: $danger-color;
  &:focus {
    border-color: $danger-color;
  }
}