<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="contacts({filter: none})">Agenda de contatos</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a ui-sref="new">
            <i class="glyphicon glyphicon-plus"></i>
            Novo contato
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="glyphicon glyphicon-user"></i>
            <span ng-bind="::$ctrl.user.email"></span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="" ng-click="$ctrl.onLogout();">
                <i class="glyphicon glyphicon-log-out"></i>
                Sair
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<a class="btn btn-success btn-lg float" ng-click="$ctrl.offcanvas()">
  <i class="glyphicon glyphicon-list-alt"></i>
  <i class="glyphicon glyphicon-resize-horizontal"></i>
</a>
