<form name="authForm" class="panel panel-default" novalidate ng-submit="$ctrl.submitForm();">
  <div class="panel-body">
    <div ng-if="$ctrl.message" class="alert alert-danger">
      {{ $ctrl.message }}
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" id="email" ng-model="$ctrl.user.email" required>
    </div>
    <div class="form-group">
      <label for="password">Senha</label>
      <input type="password" name="password" class="form-control" id="password" ng-model="$ctrl.user.password" required>
    </div>
    <div class="text-right">
      <button class="btn btn-primary" type="submit" ng-disabled="authForm.$invalid">
        {{ $ctrl.button }}
      </button>
    </div>
  </div>
</form>
