<form name="authForm" class="panel panel-default" novalidate ng-submit="$ctrl.submitForm();">
  <div class="panel-body">
    <div ng-if="$ctrl.message" class="alert alert-danger">
      {{ $ctrl.message }}
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        validate-class="{success: 'has-success', 'error': 'has-error'}"
        ng-model="$ctrl.user.email"
        autocomplete="off"
        autofocus
        minlength="6"
        required>
      <validate-messages error="authForm.email" label="e-mail"></validate-messages>
    </div>
    <div class="form-group">
      <label for="password">Senha</label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        validate-class="{success: 'has-success', 'error': 'has-error'}"
        ng-model="$ctrl.user.password"
        minlength="6"
        required>
      <validate-messages error="authForm.password" label="senha"></validate-messages>
    </div>
    <div class="text-right">
      <button class="btn btn-warning" type="reset">
        <i class="glyphicon glyphicon-remove"></i>
        {{ $ctrl.reset }}
      </button>
      <button class="btn btn-info" type="submit" ng-disabled="authForm.$invalid">
        <i class="glyphicon glyphicon-ok"></i>
        {{ $ctrl.button }}
      </button>
    </div>
  </div>
</form>
