<form name="authForm" class="panel panel-default" novalidate ng-submit="$ctrl.submitForm()">
  <div class="panel-body">
    <div ng-if="$ctrl.message" class="alert alert-danger">
      {{ $ctrl.message }}
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        validation-class
        ng-model="$ctrl.user.email"
        autocomplete="off"
        autofocus
        required>
      <validation-messages field="authForm.email" label="e-mail"></validation-messages>
    </div>
    <div class="form-group">
      <label for="password">Senha</label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        validation-class
        ng-model="$ctrl.user.password"
        minlength="6"
        required>
      <validation-messages field="authForm.password" label="senha"></validation-messages>
    </div>
    <div>
      <button
        type="button"
        class="btn btn-danger"
        ng-click="$ctrl.onGoogle()">
        <i class="fa fa-google-plus"></i>
      </button>
      <div class="pull-right">
        <button class="btn btn-warning" type="reset">
          <i class="glyphicon glyphicon-remove"></i>
          {{ $ctrl.reset }}
        </button>
        <button class="btn btn-info" type="submit" ng-disabled="authForm.$invalid">
          <i class="glyphicon glyphicon-ok"></i>
          {{ $ctrl.button }}
        </button>
      </div>
    </div>
  </div>
</form>
