<div class="input-group">
  <span class="input-group-addon">
    <i class="glyphicon glyphicon-tag"></i>
    Etiqueta
  </span>
  <div class="btn-group" role="group">
    <button
      type="button"
      class="btn"
      ng-click="$ctrl.updateTag(tag)"
      ng-repeat="tag in $ctrl.tags"
      ng-class="{'btn-success': $ctrl.tag.state == tag.state,'btn-default': $ctrl.tag.state != tag.state}">
      <span ng-class="[tag.icon]"></span>
      <span ng-bind="tag.label"></span>
    </button>
  </div>
</div>
