contacts .modal-dialog.modal-md {
  max-width: 450px;
}
contacts contact[content="full"] .panel {
  margin-bottom: -2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
contacts .modal-close {
  margin-bottom: -2px;
  padding: 6px 12px 2px;
  font-size: 24px;
  background-color: #fff;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
contacts contact[content="full"] .panel {
  margin-bottom: -2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
contacts contact[content="half"] .panel-body .col-md-5,
contacts contact[content="half"] .panel-body .col-md-7 {
  font-size: 18px;
  width: 100%;
}