contacts .modal-dialog {
  position: absolute;
  right: 50%;
  left: 50%;
  padding: 0;
  margin-right: -250px;
  margin-left: -250px;
}
@media (max-width: 768px) {
  contacts .modal-dialog {
    padding: 0 95px;
    bottom: 80px;
  }
}
contacts .modal-dialog.modal-md {
  max-width: 500px;
}
contacts .modal-close {
  margin-bottom: -2px;
  padding: 6px 12px 2px;
  font-size: 24px;
  background-color: #fff;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
