<div class="contact">
  <form name="contactDetailForm" novalidate>
    <div class="row">
      <div class="col-md-12 navbar">
        <contact-tag
          tag="$ctrl.contact.tag"
          on-change="$ctrl.tagChange($event)">
        </contact-tag>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div
          class="form-group">
          <label>
            Nome
          </label>
          <input
            type="text"
            name="name"
            class="form-control"
            validation-class
            minlength="8"
            required
            ng-change="$ctrl.updateContact()"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.name">
          <validation-messages field="contactDetailForm.name" label="nome"></validation-messages>
        </div>
        <div
          class="form-group">
          <label>
            Telefone
          </label>
          <input
            type="tel"
            name="phone"
            class="form-control"
            validation-class
            minlength="8"
            required
            ng-change="$ctrl.updateContact()"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.phone">
          <validation-messages field="contactDetailForm.phone" label="telefone"></validation-messages>
        </div>
        <div
          class="form-group">
          <label>
            E-mail
          </label>
          <input
            type="email"
            name="email"
            class="form-control"
            validation-class
            required
            ng-change="$ctrl.updateContact()"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.email">
          <validation-messages field="contactDetailForm.email" label="e-mail"></validation-messages>
        </div>
        <div class="form-group">
          <label>
            Profissão
          </label>
          <input
            type="text"
            name="jobTitle"
            class="form-control"
            ng-change="$ctrl.updateContact()"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.job">
        </div>
        <div class="form-group">
          <label>
            Endereço
          </label>
          <input
            type="text"
            name="location"
            class="form-control"
            ng-change="$ctrl.updateContact()"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.location">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>
            Facebook
          </label>
          <input
            type="url"
            name="facebook"
            class="form-control"
            validation-class
            ng-change="$ctrl.updateContact()"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.social.facebook">
          <validation-messages field="contactDetailForm.facebook" label="facebook"></validation-messages>
        </div>
        <div class="form-group">
          <label>
            Google+
          </label>
          <input
            type="url"
            name="google"
            class="form-control"
            validation-class
            ng-change="$ctrl.updateContact()"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.social.google">
          <validation-messages field="contactDetailForm.google" label="google+"></validation-messages>
        </div>
        <div class="form-group">
          <label>
            GitHub
          </label>
          <input
            type="url"
            name="github"
            class="form-control"
            validation-class
            ng-change="$ctrl.updateContact()"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.social.github">
          <validation-messages field="contactDetailForm.github" label="github"></validation-messages>
        </div>
        <div class="form-group">
          <label>
            Twitter
          </label>
          <input
            type="url"
            name="twitter"
            class="form-control"
            validation-class
            ng-change="$ctrl.updateContact()"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.social.twitter">
          <validation-messages field="contactDetailForm.twitter" label="twitter"></validation-messages>
        </div>
        <div class="form-group">
          <label>
            LinkedIn
          </label>
          <input
            type="url"
            name="linkedin"
            class="form-control"
            validation-class
            ng-change="$ctrl.updateContact()"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.social.linkedin">
          <validation-messages field="contactDetailForm.linkedin" label="linkedin"></validation-messages>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 navbar navbtn">
        <button class="btn btn-warning" type="reset">
          <i class="glyphicon glyphicon-remove"></i>
          Limpar
        </button>
        <button
          ng-if="$ctrl.isNewContact"
          class="btn btn-success"
          ng-disabled="contactDetailForm.$invalid"
          ng-click="$ctrl.saveContact()">
          <i class="fa fa-check"></i>
          Salvar contato
        </button>
        <button
          ng-if="!$ctrl.isNewContact"
          class="btn btn-danger"
          ng-click="$ctrl.deleteContact()">
          <i class="fa fa-trash-o"></i>
          Apagar contato
        </button>
      </div>
    </div>
  </form>
</div>
