<div class="contact">
  <form name="contactDetailForm" novalidate>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info">
          <i class="glyphicon glyphicon-alert"></i>
          Os campos obrigatórios estão marcados em amarelo.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 navbar">
        <contact-tag
          tag="$ctrl.contact.tag"
          on-change="$ctrl.tagChange($event);">
        </contact-tag>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div
          class="form-group">
          <label>
            Nome
          </label>
          <input
            type="text"
            name="name"
            class="form-control"
            validate-class="{success: 'has-success', error: 'has-error', warning: 'has-warning'}"
            minlength="8"
            required
            ng-change="$ctrl.updateContact();"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.name">
        </div>
        <div
          class="form-group">
          <label>
            Telefone
          </label>
          <input
            type="tel"
            name="phone"
            class="form-control"
            validate-class="{success: 'has-success', error: 'has-error', warning: 'has-warning'}"
            minlength="8"
            required
            ng-change="$ctrl.updateContact();"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.phone">
        </div>
        <div
          class="form-group">
          <label>
            Email
          </label>
          <input
            type="email"
            name="email"
            class="form-control"
            validate-class="{success: 'has-success', error: 'has-error', warning: 'has-warning'}"
            required
            ng-change="$ctrl.updateContact();"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.email">
        </div>
        <div class="form-group">
          <label>
            Profissão
          </label>
          <input
            type="text"
            name="jobTitle"
            class="form-control"
            ng-change="$ctrl.updateContact();"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.job">
        </div>
        <div class="form-group">
          <label>
            Endereço
          </label>
          <input
            type="text"
            name="location"
            class="form-control"
            ng-change="$ctrl.updateContact();"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.location">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>
            Facebook
          </label>
          <input
            type="url"
            name="facebook"
            class="form-control"
            validate-class="{success: 'has-success', 'error': 'has-error'}"
            ng-change="$ctrl.updateContact();"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.social.facebook">
        </div>
        <div class="form-group">
          <label>
            Google+
          </label>
          <input
            type="url"
            name="google"
            class="form-control"
            validate-class="{success: 'has-success', 'error': 'has-error'}"
            ng-change="$ctrl.updateContact();"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.social.google">
        </div>
        <div class="form-group">
          <label>
            GitHub
          </label>
          <input
            type="url"
            name="github"
            class="form-control"
            validate-class="{success: 'has-success', 'error': 'has-error'}"
            ng-change="$ctrl.updateContact();"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.social.github">
        </div>
        <div class="form-group">
          <label>
            Twitter
          </label>
          <input
            type="url"
            name="twitter"
            class="form-control"
            validate-class="{success: 'has-success', 'error': 'has-error'}"
            ng-change="$ctrl.updateContact();"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.social.twitter">
        </div>
        <div class="form-group">
          <label>
            LinkedIn
          </label>
          <input
            type="url"
            name="linkedin"
            class="form-control"
            validate-class="{success: 'has-success', 'error': 'has-error'}"
            ng-change="$ctrl.updateContact();"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.social.linkedin">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 navbar navbtn">
        <button class="btn btn-warning" type="reset">
          <i class="glyphicon glyphicon-remove"></i>
          Limpar
        </button>
        <button
          ng-if="$ctrl.isNewContact"
          class="btn btn-success"
          ng-disabled="contactDetailForm.$invalid"
          ng-click="$ctrl.saveContact();">
          <i class="fa fa-check"></i>
          Salvar contato
        </button>
        <button
          ng-if="!$ctrl.isNewContact"
          class="btn btn-danger"
          ng-click="$ctrl.deleteContact();">
          <i class="fa fa-trash-o"></i>
          Apagar contato
        </button>
      </div>
    </div>
  </form>
</div>
