<div class="navbar">
  <div class="input-group">
    <span class="input-group-addon" id="search">
      <i class="glyphicon glyphicon-search"></i>
    </span>
    <input
      type="text"
      class="form-control"
      placeholder="Buscar..."
      aria-describedby="search"
      ng-change="$ctrl.updateSearch()"
      ng-model-options="{
        'updateOn': 'default blur',
        'debounce': {
          'default': 600,
          'blur': 0
        }
      }"
      ng-model="$ctrl.search">
    <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-disabled="!$ctrl.search.length" ng-click="$ctrl.clear()">
        <i class="glyphicon glyphicon-remove" ng-class="{'text-warning': $ctrl.search.length}"></i>
      </button>
    </span>
  </div>
</div>
